body {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/**********************/
/**********************/

.landing-page-nav {
  border-bottom: 1px solid black;
  overflow: auto;
  padding: 0 4%;
}

.take-notes-logo {
  color: #0D9F40;
  float: left;
  font-size: 1.6em;
  margin-top: .68em;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.landing-page-nav-links {
  float: right;
  padding-top: .7em;
  width: auto;
}

.landing-page-nav-links > li {
  display: inline;
}

.landing-page-nav-links > li:hover {
  cursor: not-allowed;
}

.landing-page-nav-links > li:first-child {
  margin-right: 10px;
}

/**********************/
/**********************/

main {
  padding: 2em;
}

h1 {
  font-size: 1.75em;
  letter-spacing: 2px;
  line-height: 40px;
  margin-bottom: 2em;
  text-align: center;
}

.p-div {
  padding: 0 10%;
}

.p-div > p {
  text-align: center;
}

.link:hover {
  cursor: default;
}

button {
  background-color: #0D9F40;
  border: none;
  border-radius: 50px;
  color: #fff;
  display: block;
  font-size: 1.25em;
  margin: 0 auto;
  padding: .8em;
  outline: none;
}

button:hover {
  cursor: pointer;
}

/**********************/
/**********************/

.left {
  float: left;
  height: 79vh;
  text-align: center;
  text-decoration: underline;
}

.note-list-title {
  margin-left: 1em;
}

.buns {
  float: right;
}

.buns:hover {
  cursor: pointer;
}

input {
  font-size: .8em;
  margin-top: 1.75em;
  width: 90%;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  margin-bottom: 1em;
  margin-left: .2em;
}

li:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/**********************/
/**********************/

.current-note {
  text-align: center;
  text-decoration: underline;
}

.text-area-div {
  display: flex;
  justify-content: center;
}

textarea {
  height: 70vh;
  resize: none;
  width: 90%;
}

/**********************/
