body {
  font-family: 'Sanchez', serif;
  margin: 0;
  padding: 0;
}

/**********************/

.left {
  float: left;
  height: 79vh;
  text-align: center;
  text-decoration: underline;
  width: 40vw;
}

.left-small {
  width: 23vw !important;
}

.note-list-title {
  margin-left: 1em;
}

.buns {
  float: right;
}

.buns:hover {
  cursor: pointer;
}

input {
  font-size: .8em;
  margin-top: 1.75em;
  width: 90%;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  margin-bottom: 1em;
  margin-left: .2em;
}

li:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/**********************/
/**********************/

.current-note {
  text-align: center;
  text-decoration: underline;
}

.text-area-div {
  display: flex;
  justify-content: center;
}

textarea {
  height: 70vh;
  resize: none;
  width: 90%;
}

/**********************/
