body {
  font-family: 'Sanchez', serif;
  margin: 0;
  padding: 0;
}

/**********************/

.left {
  float: left;
  height: auto;
  text-align: center;
  text-decoration: underline;
  width: 40vw;
}

input {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  border-left: 0;
  width: 90%;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  margin-bottom: 1em;
  margin-left: .2em;
}

li:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/**********************/
/**********************/

.current-note {
  color: green;
  text-align: center;
  text-decoration: underline;
}

.text-area-div {
  display: flex;
  justify-content: center;
}

textarea {
  height: 80vh;
  resize: none;
  width: 90%;
}

/**********************/
